<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">


</head>

<body class="container">

<h1 th:text="${title}">Title</h1>

<form method="post"  th:object="${recipe}"  >
    <fieldset class="form-group" style="max_width: 600px;">
    <div class="form-check">
        <label class="form-check-label" th:for="name">Name</label>
        <input id="name" class="form-control" th:type="text" th:field="*{name}" name="name" />
        <span th:error="*{name}" class="errors"></span>
    </div>

    <div class="form-check">
        <label th:for="category">Category</label>
        <select class="custom-select" name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.categoryName}"
                    th:value="${category.id}"></option>
        </select>
    </div>

    <div class="form-check">
        <label class="form-check-label" >Yield</label>
        <div class="row">
            <div class="col">
                <input class="form-control" th:type="text" th:field="*{yield}" />
            </div>
            <div class="col" th:for="yieldType">
               <select class="custom-select" th:field="*{yieldType}">
                   <option  th:each="yieldType : &{measurementUnit}"
                            th:text="${measurementUnit.name}"
                            th:value="${measurementUnit}"></option>
               </select>
            </div>
        </div>
    </div>
    <div class="form-check">
        <h3>Ingredients</h3>
        <div class="row item" id="ingredient-area">
            <div class="col">
<!--                <&#45;&#45;<input class="form-control" th:type="hidden" th:object="${ingredient}" th:field="*{id}"  /> -->
                <input class="form-control" th:type="text" th:field="${ingredient.ingredientName}" placeholder="Name" name="ingredientName"/>
               <span th:error_ing="*{ingredientName}" class="errors"></span>
            </div>
            <div class="col-sm-2">
                <input id="ingredientAmount" class="form-control" th:type="text"  th:object="${ingredient}" th:field="*{ingredientAmount}" name="ingredientAmount" />
                <span th:error_ing="*{ingredientAmount}" class="errors"></span>
            </div>
            <div class="col">
                <select class="custom-select" th:field="*{unit}">
                    <option  th:each="units : &{measurementUnit}"
                             th:text="${measurementUnit.name}"
                             th:value="${measurementUnit}"></option>
                </select>
            </div>
            <div class="col">
                <input id="ingredientDescription" class="form-control" th:type="text"  th:object="${ingredient}" th:field="*{ingredientDescription}" placeholder="Description" name="ingredientDescription" />
                <span th:error_ing="*{ingredientDescription}" class="errors"></span>
            </div>
        </div>
    </div>
        <div align="right" >
           <input class="btn btn-primary btn-sm" th:type="button" value="Add Ingredients" id="add_ing_button" />
            <input class="btn btn-danger btn-sm" th:type="button" value="Remove Ingredient" id="remove-ing-button" />
        </div>


    <div class="form-check" id="instruction-area">
        <label class="form-check-label" th:for="instructions">Instructions</label>
        <input class="form-control" id="instruction" th:type="text-area" th:field="*{instructions}" name="instructions"/>
    </div>
    <div align="right">
       <input class="btn btn-primary btn-sm" th:type="button" value="Add Instructions" id="addInstructions" />
    </div>

    <div class="form-check" id="notes">
        <label class="form-check-label" th:for="notes">Notes:</label>
        <input class="form-control" th:type="text-area" th:field="*{notes}" />
    </div>
    </fieldset>

    <input th:type="submit" value="submit" />
</form>



</body>

<script th:src="@{https://code.jquery.com/jquery-3.4.1.js}"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous" ></script>
<script th:src="@{/js/custom.js}" type="text/javascript"></script>

</html>