<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container-fluid" >

<header th:replace="fragments :: header"></header>
<div class="row index">
    <div class="recipe-collection">
    <div class="card mb-3 col-12" style="max-width: 30rem;" >
        <div>
            <h3 class="card-header">Recipe Collection</h3>
        </div>
        <div>
            <p th:unless="${categories} and ${categories.size()}">No recipes created yet!</p>
        </div>
        <div class="form-group">
            <ul>
                <li th:each = "category : ${categories}">
                    <a th:href="'/category/view_recipes/' + ${category.id}" th:text ="${category.categoryName}">name</a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div class="search">
        <div class="card text-white bg-warning mb-3 col-4" style="max-width: 25rem; max-height: 15rem;">
            <div class="card-header">Search</div>
            <div class="card-body">
                <h4 class="card-title">Search all recipes!</h4>
                <form class="form-inline my-2 my-lg-0" th:object="${recipe}" th:action="@{recipe}">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchTerm" id="searchTerm" />
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="form-group">
                <ul >
                    <li  th:each="recipe : ${searchResult}">
                        <a th:href="'/recipe/view_recipe/' + ${recipe.id}" th:text="${recipe.name}">name</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="add">
        <div class="card border-danger mb-3" style="max-width: 25rem; max-height: 15rem;">
            <div class="card-header">Add New</div>
            <div class="card-body">
                <p class="card-text"><a class="alert alert-dismissible alert-success" href="recipe/add">Add a new recipe</a></p>
                <br />
                <br />
                <p class="card-text"><a class="alert alert-dismissible alert-info" href="category/add">Add a new category</a> </p>
            </div>
    </div>

    </div>
</div>

</body>
</html>