<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>The T.R.APP.E.R Keeper</title>
</head>
<body class="container-fluid">


<div class="jumbotron" align="center" >
<!--    <img th:src="@{https://image.freepik.com/free-vector/hand-drawn-vegetables-fruit-pattern_23-2148241420.jpg}" />-->
    <h1 class="display-3">The T.R.APP.E.R Keeper</h1>
    <p class="lead">The Recipe App Everyone Requires</p>
    <hr class="my-4"/>

    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" th:href="@{src/main/resources/templates/user/sign-up.html}">Sign up!</a>
    </p>

</div>


</body>
</html>