<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>The T.R.APP.E.R Keeper</title>
</head>

<body class="container">

<header th:replace=" fragments :: header"></header>

<nav th:replace="fragments :: nav"></nav>
<br />
<br />

<h1 th:title="${title}">Title</h1>
<ul class="list-group" >
    <li class="list-group-item d-flex justify-content-between align-items-center" th:each="recipe : ${category.recipes}" >
        <a th:href="'/recipe/view_recipe/' + ${recipe.id}" th:text="${recipe.name}">name</a>
        <span class="badge badge-warning"><a th:href="'/recipe/edit/' + ${recipe.id}">Edit</a></span>
    </li>
</ul>

</body>
</html>